In [3]:
# Libraries to work with dataframe
import json
import pandas as pd
import numpy as np
# Libraries for datetime
import datetime as dt
# Libraries for EDA
import matplotlib as plt
import seaborn as sns
# Libraries for ML
from sklearn import linear_model, datasets
import statsmodels.api as sm

In [4]:
# Load the data
df=pd.read_csv(r'C:\Users\layin\OneDrive\Desktop\lhl project midterm\LHL_Midterm_Project\Data\Cleanjobdf\Cleanjobdf.csv', sep=",")
# Check dataset
df.head()

,Time,Time Code,Country Name,Country Code,employer_pct_female,employer_pct_male,employer_pct_total,industry_pct_female,industry_pct_male,industry_pct_total,...,intermediate_education_pct_male,basic_education_pct_total,basic_education_pct_female,basic_education_pct_male,wages_and_salaries-pct_female,wages_and_salaries_pct_male,wages_and_salaries_pct_total,Laborforce_pop_total,Population_total,Population_density
0,2000-01-01,YR2000,United States,USA,2.240000,5.507000,4.021000,23.322001,12.174000,32.632000,...,65.277100,28.297300,51.912498,40.087200,91.585999,86.290001,88.699997,146767599.0,282162411.0,30.797301
1,2000-01-01,YR2000,United Kingdom,GBR,1.672000,4.500000,3.212000,25.167000,11.953000,36.221001,...,82.661201,63.468300,76.823196,69.078598,92.141998,83.941002,87.676003,29295681.0,58892514.0,243.427909
2,2000-01-01,YR2000,European Union,EUU,2.771487,6.901186,5.123410,29.391753,16.766526,38.940407,...,69.643060,34.678472,55.798056,43.627717,85.157378,79.046368,81.677008,228526899.0,488178832.0,115.084593
3,2000-01-01,YR2000,Europe & Central Asia,ECS,2.444044,5.616116,4.226875,27.987970,17.433606,36.217034,...,0.000000,0.000000,0.000000,0.000000,81.372209,77.657763,79.284578,397686380.0,862304086.0,31.414610
4,2000-01-01,YR2000,Canada,CAN,3.274000,7.503000,5.567000,22.475000,11.167000,32.016998,...,70.049301,42.889599,60.496498,51.746498,87.636002,80.613998,83.828003,16235249.0,30769700.0,3.383699